{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "./babel-plugin-replace-ts-extension.cjs"
  ]
}
