POSTGRES_DB=dbadmin_transcendence
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=strong_password_16_Characters_Here
SECRET_KEY=django-insecure-local-dev-change-me
DEBUG=True
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=Admin123!@#
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_REDIRECT_URI=https://localhost/auth/google/callback